# Exercise 1
## Building Postal Code DataFrame

In [1]:
import pandas as pd
import wikipedia as wp

Getting the table from Wikipedia.

In [2]:
html = wp.page("List_of_postal_codes_of_Canada:_M").html()
df = pd.read_html(html)[0]

Dropping the rows with `Borough` == `'Not assigned'`

In [3]:
df.drop(df[df['Borough']=="Not assigned"].index, axis=0, inplace=True)
df

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M6A        North York          Lawrence Heights
6        M6A        North York            Lawrence Manor
..       ...               ...                       ...
281      M8Z         Etobicoke  Kingsway Park South West
282      M8Z         Etobicoke                 Mimico NW
283      M8Z         Etobicoke        The Queensway West
284      M8Z         Etobicoke     Royal York South West
285      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

Replacing the `Neighbourhood` == `'Not Assined'` with the name of the `Borough`

In [4]:
df['Neighbourhood'] = df['Neighbourhood'].replace('Not assigned', df['Borough'])

In [5]:
df[df['Neighbourhood'] == 'Not assigned'].count()

Postcode         0
Borough          0
Neighbourhood    0
dtype: int64

Joining `Neighbourhood`columns with the same `Postcode`

In [6]:
df_clean = df.groupby(['Postcode', 'Borough']).agg(lambda col: ', '.join(col))
df_clean.reset_index(inplace=True)
df_clean.head(20)

   Postcode      Borough                                      Neighbourhood
0       M1B  Scarborough                                     Rouge, Malvern
1       M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2       M1E  Scarborough                  Guildwood, Morningside, West Hill
3       M1G  Scarborough                                             Woburn
4       M1H  Scarborough                                          Cedarbrae
5       M1J  Scarborough                                Scarborough Village
6       M1K  Scarborough        East Birchmount Park, Ionview, Kennedy Park
7       M1L  Scarborough                    Clairlea, Golden Mile, Oakridge
8       M1M  Scarborough    Cliffcrest, Cliffside, Scarborough Village West
9       M1N  Scarborough                        Birch Cliff, Cliffside West
10      M1P  Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...
11      M1R  Scarborough                                  Maryvale, Wexford
12      M1S  Scarborough                                          Agincourt
13      M1T  Scarborough            Clarks Corners, Sullivan, Tam O'Shanter
14      M1V  Scarborough  Agincourt North, L'Amoreaux East, Milliken, St...
15      M1W  Scarborough                                    L'Amoreaux West
16      M1X  Scarborough                                        Upper Rouge
17      M2H   North York                                  Hillcrest Village
18      M2J   North York                       Fairview, Henry Farm, Oriole
19      M2K   North York                                    Bayview Village

**The shape of the final DataFrame is:**

In [7]:
df_clean.shape

(103, 3)